{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block content %}
    <form id="object_form" role="form" data-href="{{ href }}" data-api-href="{{ api_href }}">
        {% for key in keys %}
            <div class="form-group">
                <label for="{{ key }}"> {{ key }}</label>
                {% if 'id' in key %}
                	{{ macros.immutable(null, key, attribute(row, key)) }}
                {% elseif 'password' in key %}
                    <div class="push">
                        {{ macros.button_link(api_href ~ '/reset', "PATCH", null, "Reset Password") }}
                    </div>
                {% elseif 'balance' in key %}
                        {{ macros.input_number(0, null, key, attribute(row, key)) }}
                {% elseif 'date' in key %}
                    {{ macros.input('date', key, attribute(row, key)) }}
                {% else %}
                	{{ macros.input(null, key, attribute(row, key)) }}
                {% endif %}
            </div>
        {% endfor %}
        {% for one in many_names %}
            <div class="form-group">
                <label for="{{ one }}"> {{ one }}</label>
                <div class="push">
                    {{ macros.button_link(href ~ '/' ~ one, "REDIRECT", null, "View " ~ one ) }}
                </div>
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-success">Update</button>
        <button id="delete-entry" data-href="{{ api_href }}" class="btn btn-danger">Delete</button>
    </form>
{% endblock %}

{% block scripts %}
{{ parent() }}
<script src="/js/individual.js"></script>
{% endblock %}