{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block content %}
    <form id="object_form" role="form" data-href="{{ href }}">
        {% for key in keys %}
            <div class="form-group">
                <label for="{{ key }}"> {{ key }}</label>
                {% if 'id' in key %}
                	{{ macros.immutable(null, key, attribute(row, key)) }}
                {% elseif 'password' in key %}
                    <div class="push">
                        {{ macros.button_link(href ~ '/reset', "PUT", key, "Reset Password") }}
                    </div>
                {% elseif 'balance' in key %}
                    <div class="push">
                        {{ macros.input_number(0, null, key, attribute(row, key)) }}
                    </div>
                {% else %}
                	{{ macros.input(null, key, attribute(row, key)) }}
                {% endif %}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-success">Update</button>
        <button id="delete-entry" data-href="{{ href }}" class="btn btn-danger">Delete</button>
    </form>
{% endblock %}

{% block scripts %}
{{ parent() }}
<script src="/js/individual.js"></script>
{% endblock %}