{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block content %}
    <form id="object_form" role="form" data-href="{{ href }}">
        {% for key in keys %}
            <div class="form-group">
                <label for="{{ key }}"> {{ key }}</label>
                {% if loop.first %}
                	{{ macros.immutable(null, key, attribute(row, key)) }}
                {% else %}
                	{{ macros.input(null, key, attribute(row, key)) }}
                {% endif %}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-success">Update</button>
        <button id="delete-entry" data-href="{{ href }}" class="btn btn-danger">Delete</button>
    </form>
{% endblock %}

{% block scripts %}
{{ parent() }}
<script src="/js/individual.js"></script>
{% endblock %}