{% extends 'one_to_many.html' %}
{% block form %}
    <table class="table table-bordered">
        <thead>
            <tr>
            {% block form_head %}
                {% for key in keys %}
                    {% if key != 'id' %}
                        <th>{{ key }}</th>
                    {% endif %}
                {% endfor %}
                <th>Update</th>
                <th>Delete</th>
            {% endblock %}
            </tr>
        </thead>
        <tbody>
            {% for row in rows %} 
                <tr data-id="{{ row.id }}">
                    <td><a href="{{ ref_href }}">{{ row.machine }}</a></td>
                    <td>{{ row.product }}</td>
                    <td><input type="number" max="25" min="1" value="{{ row.quantity }}"/></td>
                {% block form_action_buttons %}
                    <td><button class="btn btn-success" data-type="update_entry" data-href="{{ href }}" data-api-href="{{ api_href }}">Update</button></td>
                    {{ parent() }}
                {% endblock %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block add_to_many %}
    {% include 'add_machine_supplies.html' %}
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="/js/machine_supplies.js"></script>
{% endblock %}