{% macro input(type, name, value) %}
	<input class="form-control" type="{{ type|default('text') }}" id="{{ name }}" name="{{ name }}" value="{{ value|default('') }}" />
{% endmacro %}
{% macro immutable(type, name, value) %}
	<input disabled class="form-control" type="{{ type|default('text') }}" id="{{ name }}" name="{{ name }}" value="{{ value|default('') }}" />
{% endmacro %}
{% macro button_link(href, action, name, value) %}
	<button type="button" class="btn btn-info" data-type="{{ name|default('button-link') }}" data-action="{{ action|default('GET') }}" data-href="{{ href }}">{{ value|default(name) }}</button>
{% endmacro %}
{% macro input_number(min, max, name, value) %}
	<input class="form-control" type="number" id="{{ name }}" name="{{ name }}" value="{{ value|default('') }}" min="{{ min|default('') }}" max="{{ max|default('') }}" />
{% endmacro %}