{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block content %}
	<form id="change_form" role="form" data-href="{{ href }}">
        <div class="form-group">
            <label for="password">Old Password</label>
            {{ macros.input('password', 'old_password', null) }}
        </div>
        <div class="form-group">
            <label for="password">New Password</label>
            {{ macros.input('password', 'new_password', null) }}
        </div>
        <div class="form-group">
            <label for="password">Confirm New Password</label>
            {{ macros.input('password', 'confirm_password', null) }}
        </div>
	    <button type="submit" class="btn btn-success">Change</button>
	</form>	
{% endblock %}

{% block scripts %}
{{ parent() }}
<script src="/js/password_change.js"></script>
{% endblock %}