<!-- mp-menu -->
<nav id="mp-menu" class="mp-menu">
    <div class="mp-level">
        <h2 class="icon icon-world">Menu</h2>
        <ul>
            <li>
                <a class="icon icon-shop" href="/">Home</a>
            </li>
            {# Handle if login or logout is shown  #}
            <li class="icon icon-arrow-left">
                <a class="icon icon-display" href="#">Login/Logout</a>
                {# show login form if login else nothing #}
                <div class="mp-level">
                    <h2 class="icon icon-display">Login</h2>
                    <ul>

                    </ul>
                </div>
            </li>
            {# Show dashboards if they have permission to see any of them #}
            <h3>Dashboards</h3>
            <li><a class="icon icon-data" href="{{ routes.groups }}">Groups</a></li>
            <li><a class="icon icon-note" href="{{ routes.logs }}">Logs</a></li>
            <li><a class="icon icon-settings" href="{{ routes.machines }}">Machines</a></li>
            <li><a class="icon icon-key" href="{{ routes.permissions }}">Permissions</a></li>
            <li><a class="icon icon-tag" href="{{ routes.products }}">Products</a></li>
            <li><a class="icon icon-study" href="{{ routes.teams }}">Teams</a></li>
            <li><a class="icon icon-user" href="{{ routes.users }}">Users</a></li>
        </ul>
    </div>
</nav>
<!-- /mp-menu -->
