{% extends "base.html" %}

{% block content %}
    {% block table %}
        <table class="table table-bordered">
            <thead>
                <tr>
                    {% for key in keys %}
                        <th>{{ key }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in rows %}
                    <tr>
                        {% for data in row %}
                            {% if loop.first %}
                            <td><a href="{{ href ~ '/' ~ data }}">{{ data }}</a></td>
                            {% else %}
                            <td>{{ data }}</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endblock %}
    {% block addform %}
        {% include "addform.html" %}
    {% endblock %}

{% endblock %}
{% block scripts %}
    {{ parent() }}
    <script src="/js/addform.js"></script>
{% endblock %}
