.footer {
  position: relative;
  height: 10%;
  text-align: center;
}

.menu-button {
  width: 3%;
  height: 2%;
  margin-left: 3%;
  margin-top: 2%;
}

.menu-button a {
  display: block;
  margin-left: auto;
  margin-right: auto
}

.menu-button p {
  display: block;
  margin-left: auto;
  margin-right: auto
}

/* Multi-Level push menu additions 
See Mary Lou in Codrops' Playground
http://tympanus.net/codrops/2013/08/13/multi-level-push-menu/
Where this implementation is taken from.
*/
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'codropsicons';
  src:url('../fonts/codropsicons/codropsicons.eot');
  src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
    url('../fonts/codropsicons/codropsicons.woff') format('woff'),
    url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
    url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}

body {
  background: #fff;
  color: #292929;
  font-weight: 300;
  font-family: 'Lato', Calibri, Arial, sans-serif;
}

a {
  text-decoration: none;
  color: #292929;
  outline: none;
}

a:hover, a:focus {
  color: #292929;
  outline: none;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
}

.clearfix:after {
  clear: both;
}

.codrops-header,
.codrops-top {
  font-family: 'Lato', Arial, sans-serif;
}

.codrops-header {
  margin: 0 auto;
  padding: 2em;
  background: rgba(0,0,0,0.01);
  text-align: center;
}

.codrops-header h1 {
  margin: 0;
  font-weight: 300;
  font-size: 2.625em;
  line-height: 1.3;
}

.codrops-header span {
  display: block;
  padding: 0 0 0.6em 0.1em;
  font-size: 60%;
  opacity: 0.7;
}

@media screen and (max-width: 69em) {
  .block {
    float: none;
    width: 100% !important;
    padding: 1em;
  }
}

@media screen and (max-width: 25em) {

  body {
    font-size: 80%;
  }

  .codrops-icon span {
    display: none;
  }

}

/*--------------------*/
/* Circle pop */
/*
* Adapted from Codrop's Playground
* Mary Lou's Arrow Navigation Style article.
* http://tympanus.net/codrops/2014/05/28/arrow-navigation-styles/
*/
/*--------------------*/

.circlepop {
  width: 100px;
  height: 20px;
}

.circlepop a {
  width: 50px;
  height: 50px;
}

.circlepop a::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #e3e3e3;
  content: '';
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

.circlepop .icon-wrap {
  position: relative;
  display: block;
  margin: 47% 0 0 10%;
  width: 50%;
  height: 4px;
  font-size: 0px;
  left: 16%;
  background-color: #428bca;
  transition: transform 0.3s, background-color 0.3s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.circlepop .icon-wrap::before,
.circlepop .icon-wrap::after {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #428bca;
  content: '';
  -webkit-transition: -webkit-transform 0.3s, background-color 0.3s;
  transition: transform 0.3s, background-color 0.3s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.circlepop .icon-wrap::before {
  -webkit-transform: translateY(-250%);
  transform: translateY(-250%);
}

.circlepop .icon-wrap::after {
  -webkit-transform: translateY(250%);
  transform: translateY(250%);

}

.circlepop a:hover::before {
  background: #d2cece;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.circlepop a:hover .icon-wrap::before,
.circlepop a:hover .icon-wrap::after {
  background: #000;
}

.circlepop a:hover .icon-wrap::before {
  -webkit-transform: translateY(-350%);
  transform: translateY(-350%);
}

.circlepop a:hover .icon-wrap::after {
  /*top: 50%;*/
  -webkit-transform: translateY(350%);
  transform: translateY(350%);
}

.circlepop a:hover .icon-wrap {
  background-color: #000;
}